//================================================//
// AVATAR
// Styling to create a circular avatars.
// status: ✅ LIVE
// author: Thomas Kimura
//================================================//


// Default Avatar
//
// Display user avatar in cirular thumbnail.
//
// Markup:
// <img class="a-avatar {{modifier_class}}" src="https://avatars.io/instagram/"/>
//
// .a-avatar--2x - Increase size of avatar.
//
// Styleguide Atoms.avatars.1
.a-avatar {
  @include circular;
  @include border-solid;
  border-color: $v-calm;
  height: 1.618em;
}


.a-avatar--2x {
  @extend .a-avatar;
  height: 2.618em;
}
