//================================================//
// BUTTONS
// Styling to create a button element.
// status: ✅ LIVE
// author: Thomas Kimura
//================================================//



// Default Button
//
// Basic button. Use `.a-button` to create basic button.
//
// Markup:
// <button class="a-button {{modifier_class}}">Button Element</button>
// <input class="a-button {{modifier_class}}" type="button" value="Input Button" />
// <a class="a-button {{modifier_class}}">Button</a>
//
// .a-button--primary - Primary button
// .a-button--dark - Dark button.
// .a-button--invert - Inverted butotn.
// .a-button--plain-dark - Button for dark backgrounds.
// .a-button--clear - Borderless button.
// .a-button--small - Smaller button.
// .a-button--nohover - Remove hover animation.
//
// Styleguide Atoms.buttons.1
.a-button {
  margin-right: .5rem;
  transition: box-shadow .3s cubic-bezier(.8, .43, 0, .48);
  border-color: $v-dark;

  @include border-solid;
  @include tx-weight-900;
  @include padding-1;
  @include cursor-pointer;
  @include display-inlineblock;
  @include tx-dark;
  @include tx-decoration-none;
  &:hover {
    opacity: 1;
    box-shadow: $v-dark 7px 7px 0 0;
  }
  .fa {
    @include float-right;
    @include opacity-2;
  }
}


.a-button--primary {
  @extend .a-button;
  @include tx-white;
  @include cb-primary;
}


.a-button--dark {
  @extend .a-button;
  @include tx-white;
  @include cb-dark;

  border-color: white;
}


.a-button--invert {
  border-color: white;

  @extend .a-button;
  @include tx-white;
  &:hover {
    opacity: 1;
    box-shadow: white 7px 7px 0 0;
  }
}


.a-button--plain-dark {
  border-color: transparent;

  @extend .a-button;
  @include tx-white;
  &:hover {
    border-color: $v-cream-900;
  }
}


.a-button--clear {
  border: none;

  @extend .a-button;
  &:hover {
    box-shadow: none;
    background: rgba(0,0,0,0.1);
  }
}


.a-button--small {
  @extend .a-button;
  @include padding-05;
}


.a-button--nohover {
  @extend .a-button;
  &:hover {
    box-shadow: none !important;
    opacity:0.8;
  }
}
