<!-- TEMPLATES: index.liquid -->

<header class="h-padding-tb6">
  <div class="row align-center">

    <div class="large-12 medium-12 small-12 columns">
      <h1 class="h-margin-none">
        plank snowboards
      </h1>
      <p class="h-margin-none h-tx-bigger">
        Lo-tech blank snowboards without the gimmicks. No graphics, no middlemen and no olympic sponsors. Just quality materials and trusted design.
      </p>
      <p>
        <a class="a-button--dark" href="/quote">Request Quote</a>
      </p>
    </div>

  </div>
</header>


{{ content_for_index }}

<!-- END: index.liquid -->
